<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Eval-->
    <add key="licenseE" value="eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJMTVMiLCJleHAiOjE2NjcxNzQ0MDAsImlhdCI6MTU5OTA0Nzg1OSwicmlnaHRzIjpbIktJT1NLX1NES19XRUJfTU9ERSIsIktJT1NLX1NES19JRExFX01PREUiLCJLSU9TS19TREtfTUlSUk9SX01PREUiLCJLSU9TS19TREtfU0lHX1BERl9NT0RFIiwiS0lPU0tfU0RLX1BERl9WSUVXRVIiXSwiZGV2aWNlcyI6bnVsbCwidHlwZSI6ImV2YWwiLCJsaWNfbmFtZSI6Iktpb3NrIFNESyBUZXN0aW5nIiwid2Fjb21faWQiOiIxNTNiZTg5Zi05NjM3LTRhYjQtOTk5OS05NGUwYzhlMGQyYTMiLCJsaWNfdWlkIjoiZTliNTYyMTAtYmNmNS00MDljLWFmNGEtMzVhZGI0YjQ0ZjgzIiwiYXBwc193aW5kb3dzIjpudWxsLCJhcHBzX2lvcyI6bnVsbCwiYXBwc19hbmRyb2lkIjpudWxsLCJtYWNoaW5lX2lkcyI6bnVsbH0.BIrelkk-G1fyKFSf3KOV5sBCrcpLMl0dAX31IejdF02LgLGb5Tb8LPojnURN2KJDJUojF1xcljGFGUh0mzGxdrYqIlxgTJ5RFCPw50HRxJ7F8Mp4sq6bnGVmw2DuxPNpT_t-Whrwu67LvvL82wsRMRmC8VDmfYSlHwtllTRfB1roled0XKtYaoeLwAIprnVDfyF-t8SOb_e99sYKfd9Ibq2XtohvNaafmCSzd6Zs_NoUjNt_x5UFHxjahIY6Q75sg6_ylTV6Zf2L0QabtAw16owSjqCf4L1IWuhiJI7Le3-m_rHtNy-JBhVPPyQyYZCTZ69rhnJRwSbyS0sKlnyt_Q"/>
    <!--Prod-->
    <add key="license" value="eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJMTVMiLCJleHAiOjE4OTMzNjk2MDAsImlhdCI6MTY0MTI5MjkyMywicmlnaHRzIjpbIlNJR19TREtfQ09SRSIsIktJT1NLX1NES19XRUJfTU9ERSIsIktJT1NLX1NES19JRExFX01PREUiLCJLSU9TS19TREtfTUlSUk9SX01PREUiLCJLSU9TS19TREtfU0lHX1BERl9NT0RFIiwiS0lPU0tfU0RLX1BERl9WSUVXRVIiXSwiZGV2aWNlcyI6bnVsbCwidHlwZSI6InByb2QiLCJsaWNfbmFtZSI6Iktpb3NrIFNESyBUZXN0Iiwid2Fjb21faWQiOiIxNTNiZTg5Zi05NjM3LTRhYjQtOTk5OS05NGUwYzhlMGQyYTMiLCJsaWNfdWlkIjoiNGJmZmU2NjEtN2I4MS00NjkzLWE1OWEtNzg5MWU4ZTlmZTE2IiwiYXBwc193aW5kb3dzIjpudWxsLCJhcHBzX2lvcyI6bnVsbCwiYXBwc19hbmRyb2lkIjpudWxsLCJtYWNoaW5lX2lkcyI6bnVsbH0.oX_eCoJMzaDPs8mkR0Sxf0N03n0Pjok5zpYf2-FgjfUO9doM58wrM7Ua_2BiO_LFaZUoL0fphOBxuUpP6oWXGlml0xTV0txwW32Tb-vrmNVMICsKvjTsTwi2BLOKqJMilUk12j_ju4i-qDaPFw3yNkZOCOVvOCIaJKhZWFA6cs-DZAb8Sr_6Wa9cQbxfm6W12XxLaOB1TKFBgBx2kwK-Fdaqra83jFupfOdVgIrjh2lEdPIAnP8hk8MzjkxlVyfNtMNHX_sErkZcem7Lt0INsQP5lWL_NqJifq_g2jjpFSHexVn7gYq2k5WVXOcZ_rLAHbMpty_kKVIgNVbaVNY3sQ"/>
    <!--Invalid-->
    <add key="licenseI" value="This is not a valid licence"/>
    <!--PDF Mode Prod-->
    <add key="licensePDF" value="eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI2MDk5YWJiZmE4MzE0ZDYwYjc5YjJlYmJkZWU4NDk3YyIsImV4cCI6MjE0NzQ4MzY0NywiaWF0IjoxNjEwNjQyMjY1LCJyaWdodHMiOlsiS0lPU0tfU0RLX1NJR19QREZfTU9ERSJdLCJkZXZpY2VzIjpbIlJUUyIsIldBQ09NX0FOWSJdLCJ0eXBlIjoicHJvZCIsImxpY19uYW1lIjoiS2lvc2sgU0RLIFRlc3QiLCJ3YWNvbV9pZCI6IjFmNmNlMTYyZTBhMjQ4NGI5M2UyOWMwNDA3ZDQ3MjcyIiwibGljX3VpZCI6ImU2NWQ3OTkwLWVjNTEtNDk4ZC1iZmJiLWM1OTg2ZTEzNjU3MSIsImFwcHNfd2luZG93cyI6W10sImFwcHNfaW9zIjpbXSwiYXBwc19hbmRyb2lkIjpbXSwibWFjaGluZV9pZHMiOltdfQ.bdJUba7juyV-4BhGYlYPb8eiXidCPoLEyPJain3SFFOXUqVJj4Df3QGXKDwA3Xx54wPcwrPe0EeHPkwM_0sJdgrSmJ_B_lSG-U6QuxW53NZSza5wm8TocCM1dSbeNdFCzwWZPkAvhWNNkY79nKtOKxeZIuFbqnQ5a-WQ1L5TQpx-f94cavXyyuE7fKxZfXBMIGI3o_-YYVAJkSWnZda2wdHLakofD2otMEDfls21AaYndeLs2ULptwN6jxuWjmZgErTHBVOSrQcSHzZL2xFDHq4071k3T9xyvU9UbmKfmU5y8_i7GJlP8oEduDvndVoZtHtMPhyTC64CcQjZLfAhXA"/>
  </appSettings>
</configuration>